@use "../base/" as *;
@use "../abstracts/" as *;

.home-container {
  display: flex;
  justify-content: space-around;
  padding-block: 2rem;
}

.home-title {
  font-size: 3rem;
  text-align: center;
  padding: 3rem;
  transition: color 0.5s;

  &:hover {
    color: $main;
  }
}

.feed-container {
  display: grid;
  grid-template-columns: repeat(4, 30rem);
  justify-self: center;
  justify-content: center;
  gap: 3rem;
  row-gap: 3rem;

  .feed-nocontent {
    margin: 0 auto;
    text-align: center;
    font-size: 3rem;
  }
}
