.join-btn {
  background-color: #12b886;
  border-color: #12b886;
  border-radius: 1rem;
  transition: background-color 0.3s;
  padding: 1.5rem 3rem;
  font-size: 1.7rem;
  color: white;

  &:hover {
    background-color: green;
  }
}