@import "../abstracts/variables";

.login-title {
  font-size: 5rem;
  text-align: center;
  padding: 3rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 5rem
}

.pw-show-btn {
  background-image: url("../../images/icon_hidden.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 1rem;
}

.pw-hide-btn {
  background-image: url("../../images/icon_eye.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 1rem;
}

.input-username {
  font-size: 2rem;
  display: flex;
  align-items: center;
  width: 20rem;
  height: 1.7rem;
  padding: 1.2rem 3rem;
  border: 1px solid black;
  border-radius: 1.5rem;
}

.input-password {
  font-size: 2rem;
  display: flex;
  align-items: center;
  width: 20rem;
  height: 1.7rem;
  padding: 1.2rem 3rem;
  border: 1px solid black;
  border-radius: 1.5rem;
}
