@use "../base/" as *;
@use "../abstracts/" as *;

.mypage-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  gap: 1.3rem;
  width: 768px;

  .mypage-info {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-bottom: 3rem;
    border-bottom: 1px solid var(--color-text);

    .mypage-profile-image {
      width: 13rem;
      height: 13rem;
      border-radius: 50%;
    }

    .mypage-nickname-intro {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .info-nickname {
        font-weight: bold;
        font-size: 2rem;
      }

      .info-intro {
        font-size: 1.7rem;
        color: $gray3;
      }
    }
  }

  .mypage-follow {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;

    .mypage-followers {
      font-size: 1.7rem;

      .mypage-followings {
        font-weight: bold;
      }
    }
  }
  .follow-btn {
    display: flex;
    justify-content: flex-end;

    .post-follow {
      background-color: var(--color-background);
      border: 1px solid $main;
      border-radius: 2rem;
      padding: 0.7rem 3rem;
      font-size: 1.7rem;
      color: $main;
    }
  }

  .mypage-content {
    
    .mypage-tab {
      display: flex;
      justify-content: center;
      gap: 10rem;
      font-size: 1.8rem;
    }
  }

  .mypage-side-menu {

    .side-menu-title {
      border-bottom: 1px solid black;
      width: 12rem;
      padding-bottom: 1rem;
      margin-bottom: 1rem;

      .side-menu-title-text {
        font-size: 2rem;
        font-weight: bold;
      }
    }

    .side-menu-category {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .side-menu-item {
        display: flex;
        gap: 1rem;
        color: $gray3;
        font-size: 1.7rem;
      }
    }
  }
}
