.edit-container {
  display: flex;
  flex-direction: column;

  .edit-profile-header {
    display: flex;
    
    .edit-profile-image {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .profile-image {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
      }
    }
  }
}