.temp{
    display: none;
}
body{
  height: 100%;
}

.sun-editor, .sun-editor .se-toolbar{
    border: none !important;
    outline: none !important;
    background-color: white !important;
}
#write_title, #write_tag {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5em;
    font-size: 3rem;
    font-family: 'Consolas', monospace;
}

.sun-editor .se-wrapper .se-container, .sun-editor-editable {
  font-family: 'Consolas', monospace !important;
}

.sun-editor .se-resizing-bar {
  border-top : none !important;
  background-color: white !important;
}


.write-tag{
    font-size: 1.2rem;
    padding-left: 1.5em;
}

.write-container {
    display: flex;
    width: 100%;
}

.write-editor,
.write-preview {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    height: 100vh;
}
.write-editor{
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
}

.write-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.editor-container {
  flex-grow: 1;
}

.button-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 50%;
  padding: 1rem;
  background-color: white;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  z-index: 100;
}

.button-container .right{
  margin-left: auto;
}

.write-preview h1{
  font-size: 3em;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

.pop-up-temp{
  position: fixed;
  right: 1em;
  padding: 1.5em 2em 1.5em 2em;
  background-color: #12b886;
  color: white;
  font-size: 1.2em;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}


.go-back-button {

  &:hover {
    background-color: #eaeaea;
  }
}

.write-btn, .save-tmp-button, .go-back-button, .ai-review-button {
  border-radius: 1rem;
  transition: background-color 0.3s;
  padding: 1rem 2.2rem;
  font-size: 1.5rem;
}

.ai-review-button, .save-tmp-button {
  background-color: white;
  color: #12b886;
  margin-right: 0.5rem;
  &:hover {
    background-color: #eaeaea;
  }
}


.write-btn {
    background-color: #12b886;
    border-color: #12b886;
    color: white;
    &:hover {
        background-color: green;
    }
}

.preview-content {
  font-size: 15px;
}
.preview-content p {
  padding: 8px
}
.preview-content table {
  display: table;
    table-layout: auto !important;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 100%;
    margin: 0 0 10px;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}
.preview-content table td {
  border: 1px solid #e1e1e1;
    padding: .4em;
    background-clip: padding-box;
}

.preview-content blockquote {
  display: block;
    font-family: inherit;
    font-size: inherit;
    color: #999;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding: 0 5px 0 20px;
    border: solid #b1b1b1;
    border-width: 0 0 0 5px;
}
.preview-content blockquote p {
  display: block;
    margin: 0 0 10px;
}


.preview-content ol, .preview-content ul {
  padding-inline-start: 40px;
}

.preview-content ol{
  list-style-type: decimal;
}

.write-preview h1, .write-preview .preview-content {
  font-family: 'Consolas', monospace;
}

.editor-container.ai-review-active .sun-editor-editable p {
  background-color: #B6FCDD;
}