@use "../abstracts/" as *;
@use "../base/" as *;

.feed-card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-card-background);
  transition: all 0.5s;

  .feed-thumnail {
    width: 100%;
  }

  .feed-content {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 2rem;
    gap: 1.3rem;

    .feed-title {
      font-size: 2rem;
      font-weight: bold;
      color: var(--color-text);
    }

    .feed-description {
      font-size: 1.5rem;
      color: var(--color-text);
    }

    .feed-info {
      display: flex;
      gap: 1rem;
      color: var(--color-text);
      font-size: 1.3rem;
    }

    .feed-footer {
      border-top: 1px solid $gray4;
      display: flex;
      justify-content: space-between;
      padding: 1.3rem;
      font-size: 1.5rem;

      .footer-nickname {
        display: flex;
        gap: 0.7rem;
        color: var(--color-text);

        .nickname-by {
          color: var(--color-text);
        }

        .nickname-name {
          font-weight: 700;
          transition: color 0.5s;

          &:hover {
            color: $main;
          }
        }
      }

      .footer-like {
        color: var(--color-text);
      }
    }
  }

  &:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 20px 0 rgba(0,0,0,.08);
  }
}
