@use "../abstracts/" as *;
@use "../base/" as *;

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $bg-modal;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--color-background);
  color: var(--color-text);
  padding: 1rem 3rem;
  border-radius: 2rem;
  animation: fadeIn 0.3s linear;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}

.modal-close {
  font-size: 3rem;
  color: var(--color-text);
}

.modal-etcbtn {
  margin-bottom: 1rem;
}
