$main: #12b886;
$green: green;
$white: #ffffff;
$bg-white: #f8f9fa;
$black1: #000000;
$black2: #1a1313;
$semi-black: #212529;

$gray1: #333;
$gray2: #5b5b5b;
$gray3: #828282;
$gray4: #c4c4c4;
$gray5: #e0e0e0;

$btn-black: #212529;
$btn-gray: #8e8e8e;
$btn-white: #ececec;