@use "../abstracts/" as *;

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  white-space: nowrap;
}

input {
  font-size: 1.4rem;
  border: transparent;
  outline: none;
  padding: 1rem 0;
  background-color: var(--color-background);
  color: var(--color-text);

  // /* 크롬이 자동으로 색상 적용하는 걸 막기 위한 트릭 */
  &:-webkit-autofill {
    box-shadow: 0 0 0px 1000px var(--color-background) inset !important;
    -webkit-text-fill-color: var(--color-text) !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}
