@use "../abstracts/" as *;

html[data-theme="light"] {
  --color-text: #{$black1};
  --color-background: #{$white};
  --color-modal-background: #{$bg-white2};
  --color-card-background: #{$bg-white};
}

html[data-theme="dark"] {
  --color-text: #{$white};
  --color-background: #{$semi-black};
  --color-modal-background: #{$black1};
  --color-card-background: #{$gray1};
}
