@use "../abstracts/" as *;

html[data-theme="light"] {
  --color-text: #{$black1};
  --color-background: #{$bg-white3};
  --color-modal-background: #{$white};
}

html[data-theme="dark"] {
  --color-text: #{$bg-white};
  --color-background: #{$semi-black};
  --color-modal-background: #{black1};
}
