@use "../abstracts/" as *;
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@font-face {
  font-family: "BMDOHYEON";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Pretendard Variable", "BMDOHYEON";
}

html {
  @include horizontal-scroll;
  font-size: 62.5%;
}

body {
  font-size: 1rem;
  height: 100%;
}
